<div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
        	<h1> This will be the classifications page </h1>
        </div>
<div>