<!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
        	<h1>Signed in as <%= current_user.email %><h1>
        </div>

      </div>