<div class="border-form-div">	
	<div class="row">
        <div class="main">
          <h3>
            <%= link_to "Log in", new_user_session_path %>, or
            	   <%= link_to "Sign up", new_user_registration_path %>
          </h3>
        </div>
    </div>
	
</div>