@import "bootstrap";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0;
  padding-bottom: 20px;
}

#info {
  color: #444;
  height: auto;
  font-family: arial;
  right: 20px;
  margin: 5px;
  padding: 10px;
  position: absolute;
  width: 115px;
  z-index: 40;
  border: solid 2px #666;
  border-radius: 4px;
  background-color: #fff;
}
button {
  display: block;
}

.navbar{
  height:10px;
}

#well_left{
  background-color: #202020;
  min-height: 100%;
}

#DD_Patients{
  position:relative;
  bottom:-20px;
}

#Patient_List{
  padding-top:40px;
  
}

#wrapper {
  transition: all 0.4s ease 0s;
}


#page-content-wrapper {
  width: 100%;
  padding-top:60px;
  padding-right:20px;
  padding-left:20px;
}


.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

