        <div id="mapDiv"></div>
      </div>
    </div>
    <div id="info">
      <div><center>Tools</center></div>
        <button id="Polygon" class='btn btn-default btn-block' >Draw</button>
        <button id="assign" class='btn btn-default btn-block'>Assign</button>
        <button id="clear"  class='btn btn-default btn-block'>Clear</button>
    </div>

