        Zoom in to see survey sites.
        <div id="mapDiv"></div>
      </div>
    </div>
    <div id="info">
      <div>Tools</div>
      <button type="button" class="btn btn-default" id="Polygon">Draw Region</button>
      <select id="FieldStaffSelect">
      </select>
      <button type="button" class="btn btn-default" id="assign">Assign Tasks</button>
      <button type="button" class="btn btn-default" id="clear">Clear</button>

