      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav" id="side-nav">
          <% if current_user.has_role :admin %>
            <li> <%= link_to "Role Management", roles_path, :method => :get %></li>
          <% end %>
            <li> <%= link_to "Task Assignments", tasks_path, :method => :get %></li>
            <li> <%= link_to "Classification Guide", classifications_path, :method => :get %></li>
        </ul>
      </div>