      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav" id="side-nav">
          <li>
            <li> <%= link_to "Role Management", roles_path, :method => :get %></li>
          <li>
            <a href="#" class="text-left">
                          Task Assignments
                        </a>
          </li>
          <li>
            <a href="#">
                          Classification Guide
                        </a>
          </li>
        </ul>
      </div>